<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-navbar></app-navbar>
<main class="content">
  <div class="container-fluid p-0">
      <h1 class="h3 mb-3"><strong>Analytics</strong> dashboard</h1>
      <div class="row">
          <div class="col-lg-12 d-flex">
              <div class="card flex-fill">
                  <div class="card-header">

                      <h5 class="card-title mb-0">Latest Projects</h5>
                  </div>
                  <table class="table table-hover my-0">
                      <thead>
                          <tr>
                              <th class="d-none d-md-table-cell">User Name</th>
                              <th class="d-none d-md-table-cell">Admin Role</th>
                              <th class="d-none d-md-table-cell">Admin Image</th>
                              <th class="d-none d-md-table-cell">Bar Code</th>
                              <th class="d-none d-md-table-cell">Email Id</th>
                              <th class="d-none d-md-table-cell">Role Status</th>
                              <th class="d-none d-md-table-cell">User Status</th>
                              <th class="d-none d-md-table-cell">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor = "let item of landData">
                            <td class="d-none d-md-table-cell">{{item.adminName}}</td>

                            <td class="d-none d-md-table-cell" *ngIf="item.adminRole == 1">Super Admin</td>
                            <td class="d-none d-md-table-cell" *ngIf="item.adminRole != 1">Admin</td>

                            <td class="d-none d-md-table-cell"><img src="{{item.adminImage}}" alt="" width="40px"></td>
                            <td class="d-none d-md-table-cell">{{item.barCode}}</td>
                            <td class="d-none d-md-table-cell">{{item.emailId}}</td>

                            <td class="d-none d-md-table-cell" *ngIf="item.roleStatus == 1"><span class="badge bg-success">Active</span></td>
                            <td class="d-none d-md-table-cell" *ngIf="item.roleStatus != 1"><span class="badge bg-error">Inactive</span></td>

                            <td class="d-none d-md-table-cell" *ngIf="item.isActive == 1"><span class="badge bg-success">Active</span></td>
                            <td class="d-none d-md-table-cell" *ngIf="item.isActive != 1"><span class="badge bg-error">Inactive</span></td>

                            <td> <button  class='btn text-success btn-sm btn-edit-user' data-type='edit'>
                                <i class='fas fa-edit me-1'></i></button>
                              <button  class='btn text-danger btn-sm btn-del-user' data-type='delete'>
                              <i class='fas fa-trash-alt me-1'></i></button></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </div>
</main>
</div>
</div>
<app-footer></app-footer>
