<div class="wrapper">
  <app-sidebar style="{{sideBarToggleVar == false ? 'opacity: 0;display: none;' : ''}}"></app-sidebar>
  <div class="main" style="{{sideBarToggleVar == false ? 'margin-left:0px' : ''}}">
    <a class="sidebarToggleMain" (click)="sideBarToggleEvent($event)">
      <img class="hamburgerToggle" src="assets/img/icons/hamburger.jpeg">
    </a>
    <app-navbar></app-navbar>
    <main class="content">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h3 mb-3"><strong>Vinayam</strong> Course</h1>
          </div>
          <div *ngIf="page == 1" class="col-md-6 text-right">
            <input
              id="courseSearch"
              class="rounded"
              type="text"
              [(ngModel)]="courseSearchBar"
              placeholder="  Enter to search"
              (keyup)="onSearchKeyUp($event)"
            />
            <button class='btn text-success' data-type='add' data-bs-toggle="modal" data-bs-target="#addCourseModal">
              <i class='fas fa-plus me-1'></i>Add Course</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex">
            <div class="card flex-fill" style="overflow: scroll">
              <table class="table table-hover my-0 table-responsive">
                <thead>
                  <tr>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseName',booleanValue)">Course Name <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseDescription',booleanValue)">Course Description <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" >Course Image</th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseDuration',booleanValue)">Course Duration <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseLevel',booleanValue)">Course Level <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseInstructor',booleanValue)">Course Instructor <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('coursePrice',booleanValue)">Course Price <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseCategory',booleanValue)">Course Category <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseStartDate',booleanValue)">Course Start Date <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('courseEndDate',booleanValue)">Course End Date <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell" style="cursor: pointer;" title="click to filter" (click)="sort('isActive',booleanValue)">Course Status <i class="fa-solid fa-filter"></i></th>
                    <th class="d-md-table-cell">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of landData
                        | paginate : { itemsPerPage: 10, currentPage: page }
                    "
                  >
                    <td class="d-md-table-cell">{{ item.courseName }}</td>
                    <td class="d-md-table-cell">{{ item.courseDescription }}</td>

                    <td class="d-md-table-cell">
                      <img src="{{ item.courseImage }}" alt="" width="60px" />
                    </td>
                    <td class="d-md-table-cell">{{ item.courseDuration }} Months</td>
                    <td class="d-md-table-cell">{{ item.courseLevel }}</td>
                    <td class="d-md-table-cell">{{ item.courseInstructor }}</td>
                    <td class="d-md-table-cell"><i class="fas fa-rupee-sign"></i> {{ item.coursePrice }}</td>
                    <td class="d-md-table-cell">{{ item.courseCategory }}</td>
                    <td class="d-md-table-cell">{{ item.courseStartDate }}</td>
                    <td class="d-md-table-cell">{{ item.courseEndDate }}</td>



                    <td class="d-md-table-cell" *ngIf="item.isActive == 1">
                      <span class="badge bg-success">Active</span>
                    </td>
                    <td class="d-md-table-cell" *ngIf="item.isActive != 1">
                      <span class="badge bg-danger">Inactive</span>
                    </td>

                    <td>
                      <button
                      *ngIf="item.isActive == 1"
                      class="btn text-success btn-sm btn-edit-user"
                      data-type="edit"
                      data-bs-toggle="modal"
                      data-bs-target="#editCourseModal"
                      (click)="getEditData(item.id, item.randomEncString)"
                    >
                      <i class="fas fa-edit me-1"></i>
                    </button>
                    <button
                      *ngIf="item.isActive == 1"
                      class="btn text-danger btn-sm btn-del-user"
                      data-type="delete"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      (click)="getDeleteData(item.id, item.randomEncString)"
                    >
                      <i class="fas fa-trash-alt me-1"></i>
                    </button>
                    <button
                      *ngIf="item.isActive != 1"
                      class="btn text-success btn-sm btn-plus-user"
                      data-type="activate"
                      data-bs-toggle="modal"
                      data-bs-target="#activateModal"
                      (click)="getDeleteData(item.id, item.randomEncString)"
                    >
                      <i class="fa fa-plus me-1"></i>
                    </button>
                    </td>
                  </tr>
                </tbody>
                <pagination-controls
                  (pageChange)="page = $event"
                ></pagination-controls>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>


<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img
          src="../assets/img/icons/cross.png"
          alt="img"
          width="30px"
          class="mb-3"
        />
        <h5 class="text-dark">Are you sure you want to delete ?</h5>
      </div>
      <div class="modal-footer justify-content-around">
        <button
          type="button"
          class="btn btn-secondary p-2"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger p-2"
          (click)="deleteCourse(true)"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Activate Modal -->
<div
  class="modal fade"
  id="activateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img
          src="../assets/img/icons/cross.png"
          alt="img"
          width="30px"
          class="mb-3"
        />
        <h5 class="text-dark">Are you sure you want to Activate ?</h5>
      </div>
      <div class="modal-footer justify-content-around">
        <button
          type="button"
          class="btn btn-secondary p-2"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success p-2"
          (click)="deleteCourse(true)"
          data-bs-dismiss="modal"
        >
          Activate
        </button>
      </div>
    </div>
  </div>
</div>


<!--add Course modal-->

<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
        <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      <form [formGroup]="addCourseForm" (ngSubmit)="onSubmitAddCourse()">
        <div class="form-group">
          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Name</label>
            <div class="input-group">
              <input  id="courseName" type="text" class="form-control" formControlName="courseName">
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseName.touched && addCourseForm.controls.courseName.errors?.['required']">Course Name is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseName.errors?.['pattern']">Invalid Course Name</span>
            </div>
            <div class="col">
            <label class="fw-bold" >Course Description</label>
              <div class="input-group">
              <textarea  id="courseDescription" class="form-control" formControlName="courseDescription" rows="1">
                </textarea>
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseDescription.touched && addCourseForm.controls.courseDescription.errors?.['required']">Course Description is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseDescription.errors?.['pattern']">Invalid Course Description</span>
            </div>
          </div>




          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Duration</label>
            <div class="input-group">
              <input  id="courseDuration" type="text" class="form-control" formControlName="courseDuration"><button>Months</button>
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseDuration.touched && addCourseForm.controls.courseDuration.errors?.['required']">Course Duration is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseDuration.errors?.['pattern']">Invalid Course Duration</span>
            </div>
            <div class="col">
            <label class="fw-bold">Course Price</label>
              <div class="input-group">
              <input  id="coursePrice" type="text" class="form-control" formControlName="coursePrice">
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.coursePrice.touched && addCourseForm.controls.coursePrice.errors?.['required']">Course Price is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.coursePrice.errors?.['pattern']">Invalid Course Price</span>
            </div>
          </div>

          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Instructor</label>
            <div class="input-group">
              <input  id="courseInstructor" type="text" class="form-control" formControlName="courseInstructor">
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseInstructor.touched && addCourseForm.controls.courseInstructor.errors?.['required']">Course Instructor is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseInstructor.errors?.['pattern']">Invalid Course Instructor</span>
            </div>
            <div class="col">
            <label class="fw-bold" >Course Level</label>
              <div class="input-group">
              <select id="courseLevel" class="form-select" formControlName="courseLevel">
                <option value="Beginner" >Beginner</option>
                <option value="Intermediate" >Intermediate</option>
                <option value="Advance" >Advance</option>
              </select>
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseLevel.touched && addCourseForm.controls.courseLevel.errors?.['required']">Course Level is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseLevel.errors?.['pattern']">Invalid Course Level</span>
            </div>
          </div>

          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
              <label class="fw-bold" >Course Start Date</label>
              <div class="input-group">
                <input  id="courseStartDate" type="date" class="form-control" formControlName="courseStartDate">
              </div>
              <span class="text-danger" *ngIf="addCourseForm.controls.courseStartDate.touched && addCourseForm.controls.courseStartDate.errors?.['required']">Course Start Date is required</span>
              </div>

              <div class="col">
                <label class="fw-bold" >Course End Date</label>
                <div class="input-group">
                  <input  id="courseEndDate" type="date" class="form-control" formControlName="courseEndDate">
                </div>
                <span class="text-danger" *ngIf="addCourseForm.controls.courseEndDate.touched && addCourseForm.controls.courseEndDate.errors?.['required']">Course End Date is required</span>
                </div>
          </div>
          <div class="d-flex align-items-start bg-body-tertiary mb-3">
          <div class="col">
            <label class="fw-bold" for="Course Image">
              Course Image</label
            >
            <div class="input-group">
              <input
                id="courseImage"
                class="form-control"
                type="file"
                formControlName="courseImage"
                (change)="onFileChange($event)"
                multiple
              />
            </div>
            <span
              class="text-danger"
              *ngIf="addCourseForm.controls.courseImage.touched && addCourseForm.controls.courseImage.errors?.['required']"
              >Course Image is required</span
            >
            <span class="text-danger" *ngIf="invalidCourseImage == 1"
              >Course Image must be image file and size must be less than 200
              kb</span
            >
          </div>
          <div class="col">
            <label class="fw-bold" >Course Category</label>
            <div class="input-group">
              <input  id="courseCategory" type="text" class="form-control" formControlName="courseCategory">
            </div>
            <span class="text-danger" *ngIf="addCourseForm.controls.courseCategory.touched && addCourseForm.controls.courseCategory.errors?.['required']">Course Category is required</span>
          <span class="text-danger" *ngIf="addCourseForm.controls.courseCategory.errors?.['pattern']">Invalid Course Category</span>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-around">
          <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success p-2" [disabled]="!addCourseForm.valid">Save</button>
      </div>

    </form>
  </div>
  </div>
  </div>
</div>



<!--edit Course modal-->

<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Course</h4>
        <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      <form [formGroup]="editCourseForm" (ngSubmit)="onSubmitEditCourse()">
        <div class="form-group">
          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Name</label>
            <div class="input-group">
              <input  id="courseName" type="text" class="form-control" formControlName="courseName">
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseName.touched && editCourseForm.controls.courseName.errors?.['required']">Course Name is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseName.errors?.['pattern']">Invalid Course Name</span>
            </div>
            <div class="col">
            <label class="fw-bold" >Course Description</label>
              <div class="input-group">
              <textarea  id="courseDescription" class="form-control" formControlName="courseDescription" rows="1">
                </textarea>
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseDescription.touched && editCourseForm.controls.courseDescription.errors?.['required']">Course Description is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseDescription.errors?.['pattern']">Invalid Course Description</span>
            </div>
          </div>




          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Duration</label>
            <div class="input-group">
              <input  id="courseDuration" type="text" class="form-control" formControlName="courseDuration"><button>Months</button>
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseDuration.touched && editCourseForm.controls.courseDuration.errors?.['required']">Course Duration is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseDuration.errors?.['pattern']">Invalid Course Duration</span>
            </div>
            <div class="col">
            <label class="fw-bold">Course Price</label>
              <div class="input-group">
              <input  id="coursePrice" type="text" class="form-control" formControlName="coursePrice">
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.coursePrice.touched && editCourseForm.controls.coursePrice.errors?.['required']">Course Price is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.coursePrice.errors?.['pattern']">Invalid Course Price</span>
            </div>
          </div>

          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
            <label class="fw-bold" >Course Instructor</label>
            <div class="input-group">
              <input  id="courseInstructor" type="text" class="form-control" formControlName="courseInstructor">
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseInstructor.touched && editCourseForm.controls.courseInstructor.errors?.['required']">Course Instructor is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseInstructor.errors?.['pattern']">Invalid Course Instructor</span>
            </div>
            <div class="col">
            <label class="fw-bold" >Course Level</label>
              <div class="input-group">
              <select id="courseLevel" class="form-select" formControlName="courseLevel">
                <option value="Beginner" >Beginner</option>
                <option value="Intermediate" >Intermediate</option>
                <option value="Advance" >Advance</option>
              </select>
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseLevel.touched && editCourseForm.controls.courseLevel.errors?.['required']">Course Level is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseLevel.errors?.['pattern']">Invalid Course Level</span>
            </div>
          </div>

          <div class="d-flex align-items-start bg-body-tertiary mb-3">
            <div class="col">
              <label class="fw-bold" >Course Start Date</label>
              <div class="input-group">
                <input  id="courseStartDate" type="date" class="form-control" formControlName="courseStartDate">
              </div>
              <span class="text-danger" *ngIf="editCourseForm.controls.courseStartDate.touched && editCourseForm.controls.courseStartDate.errors?.['required']">Course Start Date is required</span>
              </div>

              <div class="col">
                <label class="fw-bold" >Course End Date</label>
                <div class="input-group">
                  <input  id="courseEndDate" type="date" class="form-control" formControlName="courseEndDate">
                </div>
                <span class="text-danger" *ngIf="editCourseForm.controls.courseEndDate.touched && editCourseForm.controls.courseEndDate.errors?.['required']">Course End Date is required</span>
                </div>
          </div>
          <div class="d-flex align-items-start bg-body-tertiary mb-3">
          <div class="col">
            <label class="fw-bold" for="Course Image">
              Course Image</label
            >
            <div class="input-group">
              <input
                id="courseImage"
                class="form-control"
                type="file"
                formControlName="courseImage"
                (change)="onFileChange($event)"
                multiple
              />
            </div>
            <span class="text-danger" *ngIf="invalidCourseImage == 1"
              >Course Image must be image file and size must be less than 200
              kb</span
            >
          </div>
          <div class="col">
            <label class="fw-bold" >Course Category</label>
            <div class="input-group">
              <input  id="courseCategory" type="text" class="form-control" formControlName="courseCategory">
            </div>
            <span class="text-danger" *ngIf="editCourseForm.controls.courseCategory.touched && editCourseForm.controls.courseCategory.errors?.['required']">Course Category is required</span>
          <span class="text-danger" *ngIf="editCourseForm.controls.courseCategory.errors?.['pattern']">Invalid Course Category</span>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-around">
          <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success p-2" [disabled]="!editCourseForm.valid">Save</button>
      </div>

    </form>
  </div>
  </div>
  </div>
</div>
