<div class="bg-sign">
  <div class="top-nav">
    <div class="row">
      <div class="col-md-6 col-4">
        <img src="../../../../assets/img/logo/logo.png" alt="Charles Hall" class="img-fluid" />
      </div>
    </div>
  </div>

  <main class="w-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto mt-3">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12 left-area my-auto">
              <div class="text-center">
                <img src="../../../../assets/img/photos/sign-in.png" alt="Charles Hall" class="img-fluid"/>
                <h2>Welcome</h2>
                <p class="lead">
                  Sign in to your account to continue
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-12 my-auto">
              <div class="card">
                <img src="../../../../assets/img/photos/dot.png" alt="Charles Hall" class="img-fluid dot-image"
                  width="30%" />
                <div class="card-body">
                  <div class="m-sm-3">
                    <div>
                      <h2>Sign in</h2>
                      <br>
                      <p class="lead">
                        Please Sign in to your account
                      </p>
                    </div>
                    <form [formGroup]="Signin" (ngSubmit)="onSubmitSignin()">
                      <div class="preview bottom-border-input-wrapper floating-label">
                        <div class="input-wrap">
                          <input type="userName" class="form-control" placeholder=" " formControlName="userName" required>
                          <label class="form-label">Enter UserName</label>
                        </div>
                        <div class="input-wrap">
                          <input type="password" class="form-control" placeholder=" " formControlName="password" required>
                          <label>Enter Password</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <label class="form-check">
                            <input class="form-check-input" type="checkbox"
                              value="remember-me" name="remember-me" checked>
                            <span class="form-check-label">
                              Remember me
                            </span>
                          </label>
                        </div>
                        <div class="col-6">
                          <div class="text-right">
                              <button type= "submit" class="btn btn-success rounded-pill" [disabled]="!Signin.valid">Sign-in Now</button>
                          </div>
                        </div>
                      </div>
                      <div class="text-center mt-3">
                        <p><a class="btn rounded-pill" [routerLink]="['forgotpassword']">Forgot Password ?</a></p>
                        <hr>
                        <p>Don't have an account ? <a class="btn rounded-pill" [routerLink]="['signup']">Sign up</a></p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

