<nav class="navbar navbar-expand navbar-light navbar-bg">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle" id="alertsDropdown" data-bs-toggle="dropdown">
                  <div class="position-relative" >
                      <i class="far fa-bell display-8" ></i>
                      <span class="indicator" *ngIf = "currentNotiCount != 0">{{currentNotiCount}}</span>
                  </div>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                  <div class="dropdown-menu-header">
                    {{currentNotiCount}} New Notifications
                  </div>
                  <div class="list-group">
                      <span class="list-group-item">
                        <div *ngFor = "let item of currentNotiData">
                          <div class="row g-0 align-items-center" >
                              <div class="col-2">
                                  <i class="far fa-bell display-8"></i>
                              </div>
                              <div class="col-10">
                                  <div class="text-dark">{{item.name}}  {{item.phone}}</div>
                                  <div class="text-muted small mt-1">{{item.message}}
                                  </div>
                                  <div class="text-muted small mt-1">{{item.createdAt}}</div>
                              </div>
                          </div>
                          <br/>
                          </div>
                      </span>
                  </div>
                  <div class="dropdown-menu-footer">
                      <a class="text-muted" data-type='edit' data-type='edit' data-bs-toggle="modal" data-bs-target="#notificationModal">Show all notifications</a>
                  </div>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown">
                  <i class="fas fa-cog"></i>
              </a>

              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
                  <img src="{{landData?.adminImage}}" class="avatar img-fluid rounded-circle me-1" alt="{{landData?.adminName}}"/> <span class="text-dark">{{landData?.adminName}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" data-type='edit' data-type='edit' data-bs-toggle="modal" data-bs-target="#profileModal"><i class="fas fa-user me-1"></i>Profile</a>
                  <a class="dropdown-item" [routerLink]="['../../admin/signup']" *ngIf="adminRole == '1'"><i class="fas fa-plus me-1"></i>Add Admin</a>
                  <a class="dropdown-item" [routerLink]="['../../admin']"><i class="fas fa-sign-out-alt me-1"></i>Log out</a>
              </div>
          </li>
      </ul>
  </div>
</nav>


<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile</h4>
        <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <img src="{{landData?.adminImage}}"
              class="img-fluid" alt="" width="150px">
          </div>
          <div class="col-9">
            <h6><strong>Information</strong></h6><br>
            <h6>Name : {{landData?.adminName}}</h6><br>
            <h6>BarCode : {{landData?.barCode}}</h6><br>
            <h6>Email : {{landData?.emailId}}</h6><br>
            <h6>Role : {{landData?.adminRole == 1 ? 'Super Admin' : 'Admin'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Notification Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Notifications</h4>
        <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card flex-fill" style="overflow: scroll;">
          <table class="table table-hover my-0 table-responsive">
              <thead>
                  <tr>
                      <th class="d-md-table-cell">Name</th>
                      <th class="d-md-table-cell">Phone</th>
                      <th class="d-md-table-cell">Subject</th>
                      <th class="d-md-table-cell">Class</th>
                      <th class="d-md-table-cell">Date</th>
                      <th class="d-md-table-cell">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let item of allNotiData | paginate: { itemsPerPage: 10, currentPage: page }">
                    <td class="d-md-table-cell">{{item.name}}</td>
                    <td class="d-md-table-cell">{{item.phone}}</td>
                    <td class="d-md-table-cell">{{item.subject}}</td>
                    <td class="d-md-table-cell">{{item.class}}</td>
                    <td class="d-md-table-cell">{{item.createdAt}}</td>

                    <td> <button  class='btn text-success btn-sm btn-edit-user' data-type='edit' data-type='edit' data-bs-toggle="modal" data-bs-target="#viewNotificationModal" (click)="viewNotification(item)">
                        <i class='fas fa-eye me-1'></i></button>
                    </td>
                  </tr>
                </tbody>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- viewNotificationModal Modal -->
<div class="modal fade" id="viewNotificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Notification</h4>
        <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h6><strong>{{seperateNotification?.name}}</strong></h6><br>
            <h6>Email : {{seperateNotification?.email}}</h6><br>
            <h6>Phone : {{seperateNotification?.phone}}</h6><br>
            <h6>Class : {{seperateNotification?.class}}</h6><br>
            <h6>Subject : {{seperateNotification?.subject}}</h6><br>
            <h6>Message : {{seperateNotification?.message}}</h6><br>
            <h6>Date : {{seperateNotification?.createdAt}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
