<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle" id="alertsDropdown" data-bs-toggle="dropdown">
                  <div class="position-relative">
                      <i class="far fa-bell display-8"></i>
                      <span class="indicator">4</span>
                  </div>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                  <div class="dropdown-menu-header">
                      4 New Notifications
                  </div>
                  <div class="list-group">
                      <span class="list-group-item">
                          <div class="row g-0 align-items-center">
                              <div class="col-2">
                                  <i class="fas fa-exclamation-circle text-danger"></i>
                              </div>
                              <div class="col-10">
                                  <div class="text-dark">Update completed</div>
                                  <div class="text-muted small mt-1">Restart server 12 to complete the update.
                                  </div>
                                  <div class="text-muted small mt-1">30m ago</div>
                              </div>
                          </div>
                      </span>
                  </div>
                  <div class="dropdown-menu-footer">
                      <a class="text-muted">Show all notifications</a>
                  </div>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown">
                  <i class="fas fa-cog"></i>
              </a>

              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
                  <img src="../../../../assets/img/avatars/avatar.jpg" class="avatar img-fluid rounded-circle me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" [routerLink]="['../../admin/dashboard']"><i class="fas fa-user me-1"></i>Profile</a>
                  <a class="dropdown-item" [routerLink]="['../../admin']"><i class="fas fa-sign-out-alt me-1"></i>Log out</a>
              </div>
          </li>
      </ul>
  </div>
</nav>
