<div class="bg-sign">
  <div class="top-nav">
    <div class="row">
      <div class="col-md-12 col-4">
        <img src="../../../../assets/img/logo/logo.png" alt="Charles Hall" class="img-fluid" />
      </div>
    </div>
  </div>

  <main class="w-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto mt-3">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12 left-area my-auto">
              <div class="text-center">
                <img src="../../../../assets/img/photos/sign-up.jpg" alt="Charles Hall" class="img-fluid" />
                <h2>Welcome</h2>
                <p class="lead">
                  Sign up to access account
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-12 my-auto">
              <div class="card">
                <img src="../../../../assets/img/photos/dot.png" alt="Charles Hall" class="img-fluid dot-image"
                  width="30%" />
                <div class="card-body">
                  <div class="m-sm-3">
                    <div>
                      <h2>Sign up</h2>
                      <br>
                      <h5>
                        Please Sign up for an Account
                      </h5>
                      <br>
                    </div>
                    <form [formGroup]="adminForm" (ngSubmit)="onSubmitAdmin()">
                      <div class="form-group">
                        <div class="row mb-2">

                    <div class="col-md-12">
                        <label  for="Name">User Name</label>
                        <div class="input-group">
                          <input  id="userName" type="text" class="form-control" formControlName="userName" >
                        </div>
                        <span class="text-danger" *ngIf="adminForm.controls.userName.touched && adminForm.controls.userName.errors?.['required']">User Name is required</span>
                        <span class="text-danger" *ngIf="adminForm.controls.userName.errors?.['pattern']">Invalid User Name</span>
                    </div>

                        <div class="col-md-12">
                        <label  for="Email"> Email</label>
                          <div class="input-group">
                          <input  id="email" type="email" class="form-control" formControlName="emailId" >
                        </div>
                        <span class="text-danger" *ngIf="adminForm.controls.emailId.touched && adminForm.controls.emailId.errors?.['required']">Email Id is required</span>
                        <span class="text-danger" *ngIf="adminForm.controls.emailId.errors?.['pattern']">Invalid Email Id</span>
                      </div>

                        <div class="col-md-12">
                        <label for="Role">Role</label>
                          <div class="input-group">
                          <select id="adminRole" class="form-select" formControlName="adminRole">
                            <option value="1">Super Admin</option>
                            <option value="2">Admin</option>
                          </select>
                        </div>
                        <span class="text-danger" *ngIf="adminForm.controls.adminRole.touched && adminForm.controls.adminRole.errors?.['required']">Admin Role is required</span>
                        <span class="text-danger" *ngIf="adminForm.controls.adminRole.errors?.['pattern']">Invalid Admin Role</span>
                      </div>

                        <div class="col-md-12">
                        <label for="Profile Picture" > Profile Picture</label>
                          <div class="input-group">
                          <input id="adminImage" type="file" class="form-control">
                        </div>
                      </div>

                        <div class="col-md-12">
                        <label for="Password"> Password</label>
                          <div class="input-group">
                          <input id="password"  type="text" class="form-control" formControlName="password">
                        </div>
                        <span class="text-danger" *ngIf="adminForm.controls.password.touched && adminForm.controls.password.errors?.['required']">Password is required</span>
                        <span class="text-danger" *ngIf="adminForm.controls.password.errors?.['pattern']">Invalid Password</span>
                      </div>
                        </div>
                      </div>
                          <div class="row">
                            <div class="col-6">
                              <a class="btn btn rounded-pill" (click)="reloadBack()">Back To Dashboard</a>
                            </div>
                            <div class="col-6">
                              <div class="text-right">
                                  <button type="submit" class="btn btn-success rounded-pill" [disabled]="!adminForm.valid" >Generate User</button>
                              </div>
                            </div>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
