  <div class="container-fluid" style="position: fixed;background: #f8f9fa;padding: 0.2rem; bottom: 0;width: 100%;">
      <div class="row text-muted">
          <div class="col-6 text-left">
          </div>
          <div class="col-6 text-right">
              <ul class="list-inline">
                  <li class="list-inline-item">
                    <span class="text-muted"><strong>Vinayam Group Classes</strong></span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
