  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="#top" class="logo">
                          Vinayam Classes
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#whyVinayam">Why Vinayam?</a></li>
                          <li class="scroll-to-section"><a href="#facts">Facts</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="#meetings">Students</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          <li><a (click)="onAdmin()">Admin</a></li>
                        </ul>
                        <a class='menu-trigger' *ngIf="menuTriggerVar == false" (click)="menuTrigger($event)">
                          <span>Menu</span>
                      </a>
                      <a class="after-trigger" *ngIf="menuTriggerVar == true" (click)="menuTrigger($event)">
                        <i class="fas fa-times"></i>
                    </a>
                    <div *ngIf="menuTriggerVar == true" class="menu_selection" (click)="menuTrigger($event)">
                    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#whyVinayam">Why Vinayam?</a></li>
                          <li class="scroll-to-section"><a href="#facts">Facts</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="#meetings">Students</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          <li><a href="" (click)="onAdmin()">Admin</a></li>
                    </div>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video [autoplay]="true" [muted]="true" [loop]="true" id="bg-video">
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption" >
                <p [innerHTML]="vinayamHomeInfo">
                </p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->



  <section class="apply-now" id="whyVinayam">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item" style="border-radius:20px;">
                <p [innerHTML]="whyVinayamInfo">
                </p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img width="100%" height="95%" id="whyVinayamImage" style="border-radius:20px;" alt="Course One">
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts" id="facts" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our Institute</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">100</div>
                    <div class="count-title">Success Rate</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">20</div>
                    <div class="count-title">Years Experience</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">150</div>
                    <div class="count-title">New Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">15</div>
                    <div class="count-title">Courses</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
            <video style="border-radius:20px;" [autoplay]="true" [muted]="true" [loop]="true" id="facts-video" height="100%" width="100%">
              </video>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Popular Courses</h2>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="owl-courses-item">
            <div class="row">

              <div class="col-lg-4" *ngFor="let item of courseData | paginate : { itemsPerPage: 6, currentPage: page }">
                <div class="item" style="margin-bottom:20px;cursor:pointer;" data-bs-toggle="modal"
                data-bs-target="#getCourseDetails" (click)="getCourseDetails(item)">
                  <img width="100%" height="300px" src="{{item.courseImage}}" style="border-radius: 20px 20px 0 0;">
                  <div class="down-content" style="border-radius:  0 0 20px 20px;background-color:grey;">
                    <h4 style="background-color:white;"><strong>{{ item.courseName }}</strong></h4>
                    <div class="info" >
                      <div class="row">
                        <div class="col-8">
                          <ul>
                            <li><i class="fa fa-star text-primary"></i></li>
                            <li><i class="fa fa-star text-primary"></i></li>
                            <li><i class="fa fa-star text-primary"></i></li>
                            <li><i class="fa fa-star text-primary"></i></li>
                            <li><i class="fa fa-star text-primary"></i></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <span><i class="fas fa-rupee-sign"></i> {{ item.coursePrice }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <pagination-controls class="text-light"
                  (pageChange)="page = $event"
                ></pagination-controls>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="upcoming-meetings" id="meetings" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Upcoming Tests</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Student Login</h4>
            <form [formGroup]="studentLoginForm" (ngSubmit)="onsubmitStudentLogin()">
              <div class="row">
                <div class="col-lg-12" *ngIf="messageSent == 0" >
                  <label class="fw-bold" >Student First Name</label>
                    <div class="input-group">
                      <input  id="studentName" type="text" class="form-control" formControlName="studentName" placeholder="Enter Student First Name">
                    </div>
                    <span class="text-danger" *ngIf="studentLoginForm.controls.studentName.touched && studentLoginForm.controls.studentName.errors?.['required']"> student Name is required</span>
                  <span class="text-danger" *ngIf="studentLoginForm.controls.studentName.errors?.['pattern']">Invalid studentName</span>
                </div><br><br><br><br>
                <div class="col-lg-12" *ngIf="messageSent == 0" >
                  <label class="fw-bold" >Student DOB</label>
                    <div class="input-group">
                      <input  id="studentDob" type="date" class="form-control" formControlName="studentDob">
                    </div>
                    <span class="text-danger" *ngIf="studentLoginForm.controls.studentDob.touched && studentLoginForm.controls.studentDob.errors?.['required']"> student Dob is required</span>
                </div>
              </div>
              <div class="modal-footer justify-content-around">
                <button type="submit" class="btn btn-success p-2" [disabled]="!studentLoginForm.valid">Login</button>
            </div>
            </form>
            <div class="main-button-red">
              <a class="test-white">Login to see your tests</a>
            </div>
          </div>
        </div>

        <div class="col-lg-8"  *ngIf = "isStudentLogin != true">
          <div class="row">

            <div class="col-lg-6" *ngFor="let item of testData | paginate : { itemsPerPage:4 , currentPage: page }">
              <div class="meeting-item" style="cursor:pointer;"  data-bs-toggle="modal"
              data-bs-target="#pleaseLoginModal" >
                <div class="thumb">
                  <img width="100%" height="300px" src="{{item.testImage}}" alt="Test">
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>{{item.testMonth}}<span>{{item.testDay}}</span><span>{{item.testYear}}</span></h6>
                  </div>
                  <h4>{{item.testName}}</h4>
                  <p>{{item.testDescription}}</p>
                </div>
              </div>
            </div>
            <pagination-controls class="text-light"
                  (pageChange)="page = $event"
                ></pagination-controls>

          </div>
        </div>

        <div class="col-lg-8"  *ngIf = "isStudentLogin != false && loginTestData.length != 0">
          <div class="row">

            <div class="col-lg-6" *ngFor="let item of loginTestData | paginate : { itemsPerPage:4 , currentPage: page }">
              <div class="meeting-item" style="cursor:pointer;"  data-bs-toggle="modal"
              data-bs-target="#getTestDetails" (click)="getTestDetails(item)">
                <div class="thumb">
                  <img width="100%" height="300px" src="{{item.testImage}}" alt="Test">
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>{{item.testMonth}}<span>{{item.testDay}}</span><span>{{item.testYear}}</span></h6>
                  </div>
                  <h4>{{item.testName}}</h4>
                  <p>{{item.testDescription}}</p>
                </div>
              </div>
            </div>
            <pagination-controls class="text-light"
                  (pageChange)="page = $event"
                ></pagination-controls>

          </div>
        </div>

        <div class="col-lg-8"  *ngIf = "isStudentLogin != false && loginTestData.length == 0">
          <div class="row">

            <h3 class="text-danger">No Tests Available</h3>

          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="contact-us" id="contact" >
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form  id="contact" [formGroup]="sendMessageForm" (ngSubmit)="onSubmitMessageForm()">
                <div class="row">
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.name.touched && sendMessageForm.controls.name.errors?.['required']">Name is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.name.errors?.['pattern']">Invalid Name</p>
                      <input type="text" id="name" placeholder="Enter Name" class="form-control" formControlName="name">
                    </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.phone.touched && sendMessageForm.controls.phone.errors?.['required']">Phone is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.phone.errors?.['pattern']">Invalid Phone</p>
                    <input type="text" id="phone"  placeholder="Enter Phone" class="form-control" formControlName="phone">
                  </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.class.touched && sendMessageForm.controls.class.errors?.['required']">Class is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.class.errors?.['pattern']">Invalid Class</p>
                      <input type="text" id="class" placeholder="Enter Class" class="form-control" formControlName="class">
                    </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.subject.touched && sendMessageForm.controls.subject.errors?.['required']">Subject is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.subject.errors?.['pattern']">Invalid Subject</p>
                      <input type="text" id="subject" placeholder="Enter Subject" class="form-control" formControlName="subject">
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.email.touched && sendMessageForm.controls.email.errors?.['required']">Email is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.email.errors?.['pattern']">Invalid Email</p>
                      <input type="email" id="email" placeholder="Enter Email" class="form-control" formControlName="email">
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.message.touched && sendMessageForm.controls.message.errors?.['required']">Message is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.message.errors?.['pattern']">Invalid Message</p>
                      <textarea type="text" id="message" placeholder="Enter Message" class="form-control" formControlName="message"></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <button type="submit" class="button" [disabled]="!sendMessageForm.valid">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 1" >
                    <h2 class="text-success">{{sentMessage}}</h2>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 1">
                    <fieldset>
                      <button class="button" (click)="sentMessageAgain()">SEND MESSAGE Again</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone</h6>
                <span *ngFor = "let item of contactData">
                  <a href="tel:{{item.phone}}"><p style="color:#3CF;font-size:15px;">{{item.phone}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Email</h6>
                <span *ngFor = "let item of emailData">
                  <a href = "mailto:{{item.email}}"><p style="color:#3CF;font-size:15px;">{{item.email}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Address</h6>
                <span *ngFor = "let item of addressData">
                  <a href="{{item.coordinate}}" target="_blank"><p style="color:#3CF;font-size:15px;">{{item.text}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Social</h6>
                <span>
                  <a *ngFor = "let item of socialData" href="{{item.social}}" target="_blank"><i class="{{item.type}}" style="font-size: 30px;margin:10px"></i></a>
                </span>
              </li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>SHASTRI NAGAR BRANCH: <a href="{{branch1}}" target="_blank" title="Vinayam Group Classes">Vinayam Group Classes</a></p>
      <p>JHOTWARA BRANCH: <a href="{{branch2}}" target="_blank" title="Vinayam Tuition Classes">Vinayam Tuition Classes</a></p>
    </div>
  </section>



<!-- Delete Modal -->
<div
class="modal fade"
id="pleaseLoginModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-md modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body text-center">
      <img
        src="assets/img/icons/cross.png"
        alt="img"
        width="30px"
        class="mb-3"
      />
      <h5 class="text-dark">Please Login to see your tests!</h5>
    </div>
    <div class="modal-footer justify-content-around">
      <button
        type="button"
        class="btn btn-danger p-2"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>



<!-- course detail Modal -->
<div
class="modal fade"
id="getCourseDetails"
tabindex="-1"
aria-labelledby="exampleModalLabel"
>
<div class="modal-dialog modal-lg modal-dialog-centered" >
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Course Details</h4>
    </div>
    <div class="modal-body text-center bg-dark text-white">
      <div class="row">

        <div class="col-lg-6">
          <div class="item">
            <img width="100%" height="300px" src="{{courseDetails?.courseImage}}" style="border-radius: 20px 20px 0 0;">
            <div class="down-content" style="border-radius:  0 0 20px 20px;">
              <h6><strong>{{ courseDetails?.courseName }}</strong><hr>{{ courseDetails?.courseDescription }}</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-6 text-left">
            <h6><span class="text-secondary">Course Duration</span> : {{courseDetails?.courseDuration}} Months</h6><hr>
            <h6> <span class="text-secondary">Course Level</span> : {{courseDetails?.courseLevel}}</h6><hr>
            <h6> <span class="text-secondary">Course Instructor</span> : {{courseDetails?.courseInstructor}}</h6><hr>
            <h6> <span class="text-secondary">Course Price</span> : <i class="fas fa-rupee-sign"></i>{{courseDetails?.coursePrice}}</h6><hr>
            <h6> <span class="text-secondary">Course Category</span> : {{courseDetails?.courseCategory}}</h6><hr>
            <h6> <span class="text-secondary">Course Start Date :</span> {{courseDetails?.courseStartDate}}</h6><hr>
            <h6> <span class="text-secondary">Course End Date :</span> {{courseDetails?.courseEndDate}}</h6><hr>
            <div class="main-button-red">
              <div class="scroll-to-section"><a href="#contact" data-bs-dismiss="modal">Interested In This Course. Join us Now!</a></div>
            </div>
        </div>


      </div>
    </div>
    <div class="modal-footer justify-content-around">
      <button type="button"
        class="btn btn-secondary p-2"
        data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>




<!-- test detail Modal -->
<div
class="modal fade"
id="getTestDetails"
tabindex="-1"
aria-labelledby="exampleModalLabel"
>
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Test Details</h4>
    </div>
    <div class="modal-body text-center bg-dark text-white">
      <div class="row">

        <div class="col-lg-6">
          <div class="item">
            <img width="100%" height="300px" src="{{testDetails?.testImage}}" style="border-radius: 20px 20px 0 0;">
            <div class="down-content" style="border-radius:  0 0 20px 20px;">
              <h6><strong>{{ testDetails?.testName }}</strong><hr>{{ testDetails?.testDescription }}</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-6 text-left">
          <h6> <span class="text-secondary">Test Date</span> : {{testDetails?.testDate}}</h6><hr>
          <h6><span class="text-secondary">Test Duration</span> : {{testDetails?.duration}} Minutes</h6><hr>
            <h6> <span class="text-secondary">Total Marks</span> : {{testDetails?.totalMarks}}</h6><hr>
            <h6> <span class="text-secondary">Passing Marks</span> : {{testDetails?.passingMarks}}</h6><hr>
            <h6> <span class="text-secondary">Your Marks</span> : {{testDetails?.scoreData.score}}</h6><hr>
            <h6> <span class="text-secondary">Percentage</span> : {{testDetails?.scoreData.percentage}}</h6><hr>
            <h6> <span class="text-secondary">Grade</span> : {{testDetails?.scoreData.grade}}</h6><hr>
            <h6> <span class="text-secondary">Question Paper</span> : <i class="fa-solid fa-file-pdf fa-2x text-primary" style="cursor: pointer;" title="click to view pdf"  data-bs-toggle="modal"
              data-bs-target="#viewPdfModal" (click)="viewPdf(testDetails.questionPaper)"></i></h6><hr>
            <h6> <span class="text-secondary">Answer Key</span> : <i class="fa-solid fa-file-pdf fa-2x text-primary" style="cursor: pointer;" title="click to view pdf"  data-bs-toggle="modal"
              data-bs-target="#viewPdfModal" (click)="viewPdf(testDetails.answerKey)"></i></h6><hr>
        </div>


      </div>
    </div>
    <div class="modal-footer justify-content-around">
      <button type="button"
        class="btn btn-secondary p-2"
        data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>


<!-- View Pdf Modal -->
<div
  class="modal fade"
  id="viewPdfModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-right">
        <button
        type="button"
        class="btn btn-secondary p-2"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      </div>
      <div class="modal-footer justify-content-around">
        <iframe [src]="viewPdfUrl | safe" width="100%" height="800"></iframe>
      </div>
    </div>
  </div>
</div>
