  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="#top" class="logo">
                          Vinayam Classes
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#whyVinayam">Why Vinayam?</a></li>
                          <li class="scroll-to-section"><a href="#facts">Facts</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="#meetings">Students</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          <li><a (click)="onAdmin()">Admin</a></li>
                        </ul>
                        <a class='menu-trigger' *ngIf="menuTriggerVar == false" (click)="menuTrigger($event)">
                          <span>Menu</span>
                      </a>
                      <a class="after-trigger" *ngIf="menuTriggerVar == true" (click)="menuTrigger($event)">
                        <i class="fas fa-times"></i>
                    </a>
                    <div *ngIf="menuTriggerVar == true" class="menu_selection" (click)="menuTrigger($event)">
                    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#whyVinayam">Why Vinayam?</a></li>
                          <li class="scroll-to-section"><a href="#facts">Facts</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="#meetings">Students</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                          <li><a href="" (click)="onAdmin()">Admin</a></li>
                    </div>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video [autoplay]="true" [muted]="true" [loop]="true" id="bg-video">
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption" >
                <p [innerHTML]="vinayamHomeInfo">
                </p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->



  <section class="apply-now" id="whyVinayam">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <p [innerHTML]="whyVinayamInfo">
                </p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>About Edu Test HTML Template</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>If you want to get the latest collection of HTML CSS templates for your websites, you may visit <a rel="nofollow" href="" target="_blank">Too CSS website</a>. If you need a working contact form script, please visit <a href="" target="_parent">our contact page</a> for more info.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>HTML CSS Bootstrap Layout</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Etiam posuere metus orci, vel consectetur elit imperdiet eu. Cras ipsum magna, maximus at semper sit amet, eleifend eget neque. Nunc facilisis quam purus, sed vulputate augue interdum vitae. Aliquam a elit massa.<br><br>
                        Nulla malesuada elit lacus, ac ultricies massa varius sed. Etiam eu metus eget nibh consequat aliquet. Proin fringilla, quam at euismod porttitor, odio odio tempus ligula, ut feugiat ex erat nec mauris. Donec viverra velit eget lectus sollicitudin tincidunt.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Please tell your friends</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Ut vehicula mauris est, sed sodales justo rhoncus eu. Morbi porttitor quam velit, at ullamcorper justo suscipit sit amet. Quisque at suscipit mi, non efficitur velit.<br><br>
                        Cras et tortor semper, placerat eros sit amet, porta est. Mauris porttitor sapien et quam volutpat luctus. Nullam sodales ipsum ac neque ultricies varius.</p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>Share this to your colleagues</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Maecenas suscipit enim libero, vel lobortis justo condimentum id. Interdum et malesuada fames ac ante ipsum primis in faucibus.<br><br>
                        Sed eleifend metus sit amet magna tristique, posuere laoreet arcu semper. Nulla pellentesque ut tortor sit amet maximus. In eu libero ullamcorper, semper nisi quis, convallis nisi.</p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts" id="facts" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our Institute</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">100</div>
                    <div class="count-title">Succesed Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">20</div>
                    <div class="count-title">Years Expierence</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">New Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">32</div>
                    <div class="count-title">Awards</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
            <video style="border-radius:20px;" [autoplay]="true" [muted]="true" [loop]="true" id="facts-video" height="100%" width="100%">
              </video>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Popular Courses</h2>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="owl-courses-item ">

            <div class="row">
              <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-01.jpg" alt="Course One">
              <div class="down-content">
                <h4>Morbi tincidunt elit vitae justo rhoncus</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$160</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-02.jpg" alt="Course Two">
              <div class="down-content">
                <h4>Curabitur molestie dignissim purus vel</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$180</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Nulla at ipsum a mauris egestas</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$140</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>


            </div>

            <div class="row">
              <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Aenean molestie quis libero gravida</h4><br>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$120</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Lorem ipsum dolor sit amet adipiscing elit</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$250</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="item">
              <img width="100%" src="assets/img/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>TemplateMo is the best website for Free CSS</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>$270</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="upcoming-meetings" id="meetings" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Upcoming Tests</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Test Catgories</h4>
            <ul>
              <li><a href="">Sed tempus enim leo</a></li>
              <li><a href="">Aenean molestie quis</a></li>
              <li><a href="">Cras et metus vestibulum</a></li>
              <li><a href="">Nam et condimentum</a></li>
              <li><a href="">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
              <a href="">All Upcoming Tests</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$22.00</span>
                  </div>
                  <a href=""><img width="100%" src="assets/img/images/meeting-01.jpg" alt="New Lecturer Test"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>10</span></h6>
                  </div>
                  <a href=""><h4>New Lecturers Test</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$36.00</span>
                  </div>
                  <a href=""><img width="100%" src="assets/img/images/meeting-02.jpg" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>24</span></h6>
                  </div>
                  <a href=""><h4>Online Teaching Techniques</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$14.00</span>
                  </div>
                  <a href=""><img width="100%" src="assets/img/images/meeting-03.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>26</span></h6>
                  </div>
                  <a href=""><h4>Higher Education Conference</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$48.00</span>
                  </div>
                  <a href=""><img width="100%" src="assets/img/images/meeting-04.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>30</span></h6>
                  </div>
                  <a href=""><h4>Student Training Meetup</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="contact-us" id="contact" >
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form  id="contact" [formGroup]="sendMessageForm" (ngSubmit)="onSubmitMessageForm()">
                <div class="row">
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.name.touched && sendMessageForm.controls.name.errors?.['required']">Name is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.name.errors?.['pattern']">Invalid Name</p>
                      <input type="text" id="name" placeholder="Enter Name" class="form-control" formControlName="name">
                    </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.phone.touched && sendMessageForm.controls.phone.errors?.['required']">Phone is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.phone.errors?.['pattern']">Invalid Phone</p>
                    <input type="text" id="phone"  placeholder="Enter Phone" class="form-control" formControlName="phone">
                  </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.class.touched && sendMessageForm.controls.class.errors?.['required']">Class is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.class.errors?.['pattern']">Invalid Class</p>
                      <input type="text" id="class" placeholder="Enter Class" class="form-control" formControlName="class">
                    </fieldset>
                  </div>
                  <div class="col-lg-6" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.subject.touched && sendMessageForm.controls.subject.errors?.['required']">Subject is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.subject.errors?.['pattern']">Invalid Subject</p>
                      <input type="text" id="subject" placeholder="Enter Subject" class="form-control" formControlName="subject">
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.email.touched && sendMessageForm.controls.email.errors?.['required']">Email is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.email.errors?.['pattern']">Invalid Email</p>
                      <input type="email" id="email" placeholder="Enter Email" class="form-control" formControlName="email">
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.message.touched && sendMessageForm.controls.message.errors?.['required']">Message is required</p>
                      <p class="text-danger" *ngIf="sendMessageForm.controls.message.errors?.['pattern']">Invalid Message</p>
                      <textarea type="text" id="message" placeholder="Enter Message" class="form-control" formControlName="message"></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 0" >
                    <fieldset>
                      <button type="submit" class="button" [disabled]="!sendMessageForm.valid">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 1" >
                    <h2 class="text-success">{{sentMessage}}</h2>
                  </div>
                  <div class="col-lg-12" *ngIf="messageSent == 1">
                    <fieldset>
                      <button class="button" (click)="sentMessageAgain()">SEND MESSAGE Again</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone</h6>
                <span *ngFor = "let item of contactData">
                  <a href="tel:{{item.phone}}"><p style="color:#3CF;font-size:15px;">{{item.phone}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Email</h6>
                <span *ngFor = "let item of emailData">
                  <a href = "mailto:{{item.email}}"><p style="color:#3CF;font-size:15px;">{{item.email}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Address</h6>
                <span *ngFor = "let item of addressData">
                  <a href="{{item.coordinate}}" target="_blank"><p style="color:#3CF;font-size:15px;">{{item.text}}</p></a>
                </span>
              </li>
              <br>
              <li>
                <h6>Social</h6>
                <span>
                  <a *ngFor = "let item of socialData" href="{{item.social}}" target="_blank"><i class="{{item.type}}" style="font-size: 30px;margin:10px"></i></a>
                </span>
              </li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>SHASTRI NAGAR BRANCH: <a href="{{branch1}}" target="_blank" title="Vinayam Group Classes">Vinayam Group Classes</a></p>
      <p>JHOTWARA BRANCH: <a href="{{branch2}}" target="_blank" title="Vinayam Tuition Classes">Vinayam Tuition Classes</a></p>
    </div>
  </section>
